body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #4CAF50;
}

label, select, input {
    font-size: 1.2em;
    display: block;
    margin-top: 10px;
}

#dataEntryContainer {
    margin-top: 20px;
}

.bin-entry {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.bin-entry label {
    display: block;
    margin-bottom: 5px;
}

.bin-entry input, .bin-entry select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#resultContainer {
    margin-top: 20px;
}
